<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div class="row" *ngIf="!userPage">
    <button class="btn btn-primary" *ngIf="showButton" (click)="onSubmit()">Subscribe</button>
    <p *ngIf="!showButton && this.authService.isLoggedIn()">You are subscribed to {{this.username}}</p>
</div>
<div class="row">
    <div class="col-md-4 p-4" *ngFor="let postView of postViews">
        <app-post-view
                [post]="postView"
                [username]="username"
                [userPage]="userPage"
        ></app-post-view>
    </div>

</div>


<div class="paging-nav" *ngIf="postViews.length > 0">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="#" (click)="goToEndPages(-1,$event)">Start</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="getAnotherPage(-1,$event)">Prev</a></li>
        <li class="nav-item" *ngFor="let p of collectionSize; let i = index">
            <a class="nav-link" href="#" (click)="setPage(i+1, $event)">{{i+1}}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="getAnotherPage(1,$event)">Next</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="goToEndPages(1,$event)">End</a></li>
    </ul>
</div>
