<div class="row" *ngIf="!currentUserPage">
    <button class="btn btn-primary" (click)="onSubmit()">Subscribe</button>
</div>
<div class="row">
    <div class="col-md-4 p-4" *ngFor="let post of posts">
        <div class="card card-deck" (click)="selectedCard(post.id)">
            <div class="card-header text-center">
                {{post.title}}
            </div>
            <img [src]="post.image" class="img-card-top w-100">
            <div class="card-body">
                <p>{{post.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="paging-nav">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="#" (click)="goToEndPages(-1,$event)">Start &nbsp;</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="getAnotherPage(-1,$event)">Prev</a></li>
        <li class="nav-item" *ngFor="let p of collectionSize; let i = index">
            <a class="nav-link" href="#" (click)="setPage(i+1, $event)">{{i+1}}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="getAnotherPage(1,$event)">Next &nbsp;</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="goToEndPages(1,$event)">End</a></li>
    </ul>
</div>